
/* universal */


body {
  margin: 0;
  padding: 0;
}

.werombutton {
  border-radius: 8px;
  background-color: #0054a7;
  color: black;
  border: 3px solid #ffffff;
  transform: translateY(15%);
}

.shirtlink {
  color: #2282e2;
  background-color: #4e4c4c;
  border: 5px solid #031d3b;
  border-radius: 7px;
}

.BottomText {
  background-color: rgb(80, 79, 79);
  text-align: center;
  height: 75px;
  width: 100%;
  line-height: 3.2;
  margin: 0;
  padding: 0;
  transform: translateY(20%);
}

/* index */
.MainContent {
  min-height: calc(100vh - 75px - 16px); 
}

.wikilink {
  border-radius: 6px;
  background-color: rgb(141, 162, 179);
  border: 3px solid #525151;
  height: 28px;
  width: 465px;
  line-height: 1.6;
  color: #0054a7;
  transform: translateY(9%);
}

.fryskeflagge {
  border-radius: 9px;
  border: 4px solid #ffffff;
}

.flagge-tekst {
  transform: translateY(-12%);
  background-color: #666666;
  width: 270;
  height: 85;
  line-height: 1.4;
  border-radius: 6px;
  border: 4px solid #000000;
}

.oerusbutton {
  border-radius: 8px;
  background-color: #0054a7;
  color: black;
  border: 3px solid #ffffff;
  transform: translateY(5%);
}

.shirtsbutton {
  border-radius: 8px;
  background-color: #0054a7;
  color: black;
  border: 3px solid #ffffff;
  transform: translateY(10%);
}